body {
  font-family: sans-serif;
  text-align: center;
}

pre {
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
  background: #eee;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
